@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
    font-size: calc(15px + 0.390625vw);
    box-sizing: border-box;
}

html, body {
    height: 100%;
    --default-font-size: calc(15px + 0.390625vw);
    font-size: var(--default-font-size);
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* DEFINITIONS */

html {
    --padding-horizontal-xsmall: 0.4rem;
    --padding-horizontal-small: 0.8rem;
    --padding-horizontal-medium: 1.2rem;
    --padding-horizontal-large: 1.5rem;
    --padding-horizontal-xlarge: 2rem;

    --padding-vertical-xsmall: 0.2rem;
    --padding-vertical-small: 0.4rem;
    --padding-vertical-medium: 0.75rem;
    --padding-vertical-large: 1rem;
    --padding-vertical-xlarge: 1.3rem;

    --padding-xsmall: 0.2rem 0.4rem;
    --padding-small: 0.4rem 0.8rem;
    --padding-medium: 0.75rem 1.2rem;
    --padding-large: 1rem 1.5rem;
    --padding-xlarge: 1.3rem 2rem;

    --padding-xsmall-long: 0rem 0.7rem;
    --padding-small-long: 0.4rem 1.2rem;
    --padding-medium-long: 0.75rem 1.8rem;
    --padding-large-long: 1rem 2.2rem;
    --padding-xlarge-long: 1.3rem 2.5rem;


    --ribbon-100: #EC0B43;
    --ribbon-85: #EF2F5F;
    --ribbon-70: #F1557C;
    --ribbon-50: #F685A1;

    --plum-100: #58355E;
    --plum-85: #715376;
    --plum-70: #8B728F;
    --plum-50: #AC9AAF;

    --teal-100: #7AE7C7;
    --teal-85: #8EEACF;
    --teal-70: #A2EFD8;
    --teal-50: #BEF3E3;

    --pure-white: #fff;
    --white-pearl: #f3f2ed;
    --light-gray: #eee;
    --sharp-gray: #ddd;

    --pitch-black: #000;
    --soft-black: #444;
    --numb-black: #666;

    --border-radius-soft: 5px;
    --border-radius-medium: 8px;
    --border-radius-accute: 12px;

    --border-default: 1px solid var(--sharp-gray);
}

body {
    --font-size-xsmall: 0.65rem;
    --font-size-small: 0.85rem;
    --font-size-medium: 1.15rem;
    --font-size-large: 1.3rem;
    --font-size-xlarge: 1.5rem
}


/* Ease of reading */
p,
h1,
h2,
h3,
h4,
span {
    max-width: 60ch;
}


.dialog-container {
    min-width: 30ch;
    display: flex;
    flex-direction: column;
    gap: var(--padding-vertical-small)
}

mat-form-field {
    width: 100%;
}